body,
h2,
span,
a {
  font-family: 'poppins';
}
h1 {
  font-size: 24px;
  line-height: 28px;
}
h2 {
  font-size: 18px;
  line-height: 22px;
}
a {
  color: #0678be;
}
a > img:hover,
a > img:focus,
a > img:active {
  color: #0678be;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
article p > em {
  color: inherit;
}
